<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Save your teeth</title>
  <link rel="icon" href="../../assets//icons/logoV2.png">
  <link rel="stylesheet" href="./signUp.css">
  <link rel="stylesheet" href="../reset.css">
</head>

<body>

  <div class="global-container">

    <div class="video-container">
      <p id="text-top" class="text-video text-center"> Programa tu cita </p>
      <div class="video-size">
        <video class="video-s" src="../../assets/videos/pexels-karolina-grabowska-6630297.mp4" type="video/mp4"
          autoplay="true" loop>
          Tu navegador no soporta HTML5 video.
        </video>
        <video class="video-xl" src="../../assets/videos/production ID_3762905.mp4" type="video/mp4" autoplay="true"
          loop>
          Tu navegador no soporta HTML5 video.
        </video>
      </div>
      <p id="text-bottom" class="text-video text-center"> Te esperamos </p>
    </div>

    <section class="signUp-container">

      <div class="title-form-container">
        <div>
          <img class="signUp-icon" src="../../assets/icons/logo.png" alt="icon">
        </div>
        <h2 class="title-signUp text-white">Formulario de registro</h2>
      </div>

      <div class="signUp-form-container">
        <form action="../home/home.html" class="signUp-form">

          <div class="fields-form-signUp text-white">
            <label for="signUp-name">
              <b>Nombre</b>
            </label>
            <input id="signUp-name" class="input-fields-signUp" type="text" placeholder="Ingresa tu nombre">
          </div>

          <div class="fields-form-signUp text-white">
            <label for="signUp-lastName">
              <b>Primer apellido</b>
            </label>
            <input id="signUp-lastName" class="input-fields-signUp" type="text" placeholder="Ingresa tu apellido">
          </div>

          <div class="fields-form-signUp text-white">
            <label for="signUp-middleName">
              <b>Segundo apellido</b>
            </label>
            <input id="signUp-middleName" class="input-fields-signUp" type="text" placeholder="Ingresa tu apellido">
          </div>

          <div class="fields-form-signUp text-white">
            <label for="signUp-email">
              <b>Correo electrónico</b>
            </label>
            <input id="signUp-email" class="input-fields-signUp" type="email" placeholder="Ingresa tu correo">
          </div>

          <div class="fields-form-signUp text-white">
            <label for="signUp-user">
              <b>Usuario</b>
            </label>
            <input id="signUp-user" class="input-fields-signUp" type="text" placeholder="Ingresa tu usuario">
          </div>

          <div class="fields-form-signUp text-white">
            <label for="signUp-password">
              <b>Contraseña</b>
            </label>
            <input id="signUp-password" class="input-fields-signUp" type="password" placeholder="Ingresa tu contraseña">
          </div>

          <div class="button-signUp-container">
            <button class="button-signUp"> Confirmar registro </button>
          </div>

        </form>
      </div>

    </section>

  </div>

</body>

</html>