<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Save your teeth</title>
  <link rel="icon" href="../../assets//icons/logoV2.png">
  <link rel="stylesheet" href="./login.css">
  <link rel="stylesheet" href="../reset.css">
</head>

<body>

  <div class="global-container">

    <div class="video-container">
      <p id="text-top" class="text-video text text-center"> Programa tu cita </p>
      <div class="video-size">
        <video class="video-s" src="../../assets/videos/pexels-karolina-grabowska-6630297.mp4" type="video/mp4"
          autoplay="true" loop>
          Tu navegador no soporta HTML5 video.
        </video>
        <video class="video-xl" src="../../assets/videos/production ID_3762905.mp4" type="video/mp4" autoplay="true"
          loop>
          Tu navegador no soporta HTML5 video.
        </video>
      </div>
      <p id="text-bottom" class="text-video text-center"> Te esperamos </p>
    </div>

    <section class="login-container">

      <div class="title-login-container">
        <h1 class="login-title text-center text-white">Save your teeth</h1>
        <img class="login-icon" src="../../assets/icons/logo.png" alt="icon">
      </div>

      <div class="form-login-container">

        <h3 class="text-center text-white">Iniciar sesión</h3>
        <form action="../home/home.html">

          <div class="fields-form-login text-white">
            <label for="name">
              <b>Usuario</b>
            </label>
            <input id="name" class="input-fields-login" type="text" placeholder="Ingresa tu usuario">
          </div>

          <div class="fields-form-login text-white">
            <label for="password">
              <b>Contraseña</b>
            </label>
            <input id="password" class="input-fields-login" type="password" placeholder="Ingresa tu contraseña">
          </div>

          <p class="text-center text-white">
            ¿No tienes cuenta?
            <br>
            Registrate <a href="../signUp/signUp.html" class="text-white"> <b> Aqui</b> </a>
          </p>

          <div class="button-login-container">
            <button class="button-login">Iniciar sesión</button>
          </div>

        </form>

      </div>
    </section>

  </div>

</body>

</html>